<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>home</title>
</head>

<body>
    <div class="all">
        <% for (let i=0 ; i < tanques.length ; i++) { %>
            <div class="smallbox">
                <p> <%= tanques[i].name %> </p>
                <img class="phototank" src= "/imgs/<%= tanques[i].img %>">
                <a href="/tankDetail/<%= tanques[i].id %>"><button class="buttom">INFORMACIÓN</button></a>
            </div>
        <% } %>
    </div>
    <div>
        <a href="/tankCreate"><button>CREAR TANQUE</button></a>
    </div>
    <div>
        <a href="/users/login"><button>LOGUEARSE</button></a>
    </div>
    <div>
        <a href="/users/register"><button>REGISTRARSE</button></a>
    </div>
</body>

</html>