<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>tankDetail</title>
</head>
<body>

    <p><%= detalleDeTanque.name %></p>
    <img class="phototank" src= "/imgs/<%= detalleDeTanque.img %>">

</body>
</html>