.all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.smallbox {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100); 
}

.phototank {
    width: 300px;
}

.buttom {
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    padding: 2px 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    cursor: pointer;
}